<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Failed</title>
    <link rel="stylesheet" type="text/css" href="../css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="../css/paymentstatus.css" />
  </head>
  <body>
    <%- include("./navbar") %>
    <div class="failure-container">
      <div class="failure-icon">&#10060;</div>
      <h1>Payment Failed</h1>
      <p>Sorry, your payment could not be processed. Please try again later.</p>
    </div>
  </body>
  <script src="../js/en-navbar.js"></script>
</html>
