<nav class="navbar">
  <div class="navbar-logo">
    <img
      src="/images/lo2.png"
      alt="Google Logo"
      width="30px"
      height="30px" />ader
  </div>
  <div class="navbar-links">
    <a class="navbar-link navbar-link-upload" href="/videos"
      ><img
        src="/images/upload_logo.png"
        alt="Google Logo"
        width="20px"
        height="20px" />
      Upload</a
    >
    <a class="navbar-link navbar-link-profile" href="/profile">
      <img
        src="/images/profile_logo.png"
        alt="Google Logo"
        width="20px"
        height="20px" />
      Profile</a
    >
    <a
      class="navbar-link navbar-link-profile"
      href="/visa/pricing"
      style="background-color: rgb(250, 187, 70)">
      <img
        src="/images/premium_logo.webp"
        alt="Google Logo"
        width="20px"
        height="20px" />
      premuim</a
    >
    <a class="navbar-link navbar-link-logout" href="/auth/logout"
      ><img
        src="/images/logout_logo.png"
        alt="Google Logo"
        width="20px"
        height="20px" />
      Logout</a
    >
  </div>
  <span
    id="openCloseBtn"
    style="font-size: 30px; cursor: pointer"
    onclick="openNav()"
    >&#9776;</span
  >
</nav>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="sidebar-link sidebar-link-upload" href="/videos">
    <img
      src="/images/upload_logo.png"
      alt="Google Logo"
      width="20px"
      height="20px" />
    Upload
  </a>
  <a class="sidebar-link sidebar-link-profile" href="/profile">
    <img
      src="/images/profile_logo.png"
      alt="Google Logo"
      width="20px"
      height="20px" />
    Profile
  </a>
  <a
    class="sidebar-link sidebar-link-profile"
    href="/visa/pricing"
    style="background-color: rgb(250, 187, 70)">
    <img
      src="/images/premium_logo.webp"
      alt="Google Logo"
      width="20px"
      height="20px" />

    Premium
  </a>
  <a class="sidebar-link sidebar-link-logout" href="/auth/logout">
    <img
      src="/images/logout_logo.png"
      alt="Google Logo"
      width="20px"
      height="20px" />
    Logout
  </a>
</div>
