<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pricing Page</title>
    <link rel="stylesheet" type="text/css" href="../css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="../css/payment.css" />
  </head>
  <body>
    <%- include("./navbar") %>
    <div class="pricing-container">
      <div class="pricing-option free-option">
        <h2>Free Option</h2>
        <p>3 video uploads</p>
        <p>Upload to 2 minutes</p>
        <!-- <button id="free-btn" disabled="true">Select</button> -->
        <div class="select-button" id="free-btn">Select</div>
      </div>
      <div class="pricing-option premium-option">
        <h2>Premium Option</h2>
        <p>10 video uploads</p>
        <p>Upload to 10 minutes</p>
        <button id="premium-btn">Select</button>
      </div>
    </div>
    <div class="message" id="message"></div>
    <script src="../js/en-payment.js"></script>
    <script src="../js/en-navbar.js"></script>
  </body>
</html>
