<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Success</title>
    <link rel="stylesheet" type="text/css" href="../css/navbar.css" />
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .success-container {
        text-align: center;
        background-color: #4caf50;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #fff;
      }

      .success-icon {
        font-size: 60px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <%- include("./navbar") %>
    <div class="success-container">
      <div class="success-icon">&#10004;</div>
      <h1>Payment Successful</h1>
      <p>Your payment has been successfully processed.</p>
    </div>
  </body>
</html>
